.header { 
    grid-area: header;
    text-decoration: none;
  
 }
 h1{
    margin-top: 40px;
    align-items: center;
    text-align: center;
    font-size: 50px;
}
h2{
    margin-top: 20px;
    align-items: center;
    text-align: center;
    font-size: 50px;
}



.back{
    padding: 40px ;
    background-color: #2A394F;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}


.logo{
    font-size: 24px;
    color: #15A4F9;
    font-weight: 8000;
    text-transform: uppercase;
    text-decoration: none;
}
#menu{
    display: none;
}
.menu label{
    cursor: pointer;
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #15A4F9;
}

@media(max-width:600px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .back{
        padding: 50px 0;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2A394F;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
}